<!doctype html>
<html ng-app="myApp">
  <head>
  	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"/></script>
	<script src="services.js"/></script>
  </head>
  <body ng-controller="MyCtrl">
    <p id="outer-msg">{{msg}}</p>
    <div id="inner-msg" ng-controller="MyChildCtrl">
    	{{anotherMsg}}
    </div>
  </body>
</html>
